@model FluentEmail.Web.Templates.FancyEmailTemplateModel

<h1>Hey @Model.Name,</h1>
<br/>
<p>
    <span style="font-size: 4em">Your bill is for $@Model.Value.</span>
</p>

<br>
<img src="https://media4.giphy.com/media/bwxVM7FtESiS1SBEzS/200w.webp?cid=790b76114397c6e4e5c3ad1b5c3d8d661c34b4f02f211f50&amp;rid=200w.webp" sizes="10vw" alt="meme"/>