@page "/Profile"
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inherits FluxorComponent
@inject NavigationManager Navigation
@inject IState<AuthState> State

<PageTitle>Profile</PageTitle>

<MudStack Row="true">
    <MudText Typo="Typo.h3" GutterBottom="true">Profile</MudText>
    <UserImage IsClickable="false" Height="60"></UserImage>
    <MudButton Color="Color.Secondary" OnClick="BeginSignOut">Log out</MudButton>
</MudStack>

<MudSimpleTable Style="overflow-x: auto;">
    <thead>
    <tr>

        <th>Type</th>
        <th>Value</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var claim in State.Value.Claims)
    {
        <tr>
            <td>@claim.Type</td>
            <td>@claim.Value</td>
        </tr>
    }
    </tbody>
</MudSimpleTable>


@code {

    private void BeginSignOut(MouseEventArgs args)
    {
        Navigation.NavigateToLogout("authentication/logout");
    }

}